

<div id="app">
  <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <div class="container-fluid">
      <a href="/home" class="navbar-brand">Scaffolding Management App</a>
      <ul class="navbar-nav mr-right" routerLinkActive="none">
        <li class="nav-item">
          <a href="/register" class="nav-link" routerLink="register">Rejestracja </a>
        </li>
        <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Logowanie </a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="content" style="width: auto; display: block;" role="main">
  <router-outlet></router-outlet>
</div>
