<div class="container">
  <div class="row justify-content-center">
    <div class="register-form col-md-5">
      <div class="card">
        <div class="card-header">Logowanie</div>
        <div class="card-body">
          <form
            *ngIf="!isLoggedIn"
            name="form" role="form" (ngSubmit)="processInitPasswordReset()" [formGroup]="initResetPasswordForm">

            <div class="form-group">
              <label class="form-control-label" for="email">Wpisz email</label>
              <input type="text"
                     class="form-control"
                     id="email"
                     placeholder="Podaj Email"
                     formControlName="email"
                     [ngClass]="{'is-invalid': submitted && f['email'].errors}">
              <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                <div *ngIf="f['email'].errors?.['required']">Email jest wymagany</div>
              </div>
            </div>


            <button
              type="submit"
              class="btn btn-primary">Wyślij prośbę o reset hasła
            </button>
            <button
              type="button"
              (click)="resetForm()"
              class="btn btn-warning float-right"
            >Wyczyść
            </button>
            <div class="form-group">
              <div *ngIf="f.submitted && emailCheckFailed" class="alert alert-danger" role="alert">
                Login failed: {{ errorMessage }}
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
