<div class="container">
  <div class="row justify-content-center">
    <div class="register-form col-md-5">
      <div class="card">
        <div class="card-header">Logowanie</div>
        <div class="card-body">
          <form
            *ngIf="!isLoggedIn"
            name="form" role="form" (ngSubmit)="login()" [formGroup]="loginForm">

            <div class="form-group">
              <label class="form-control-label" for="username">Login</label>
              <input type="text"
                     class="form-control"
                     id="username"
                     placeholder="Podaj Login"
                     formControlName="username"
                     [ngClass]="{'is-invalid': submitted && f['username'].errors}">
              <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                <div *ngIf="f['username'].errors?.['required']">Nazwa użytkownika jest wymagana</div>
              </div>
            </div>

            <div class="form-group">
              <label class="form-control-label" for="password">Hasło</label>
              <input type="password"
                     class="form-control"
                     id="password"
                     placeholder="Podaj hasło"
                     formControlName="password"
                     [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
              <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                <div *ngIf="f['password'].errors?.['required']">Hasło jest wymagane</div>
              </div>
            </div>
            <div class="ButtonContainer">
              <button
                type="submit"
                class="btn btn-outline-primary">Zaloguj
            </button>
            <button
              type="button"
              (click)="requestResetPassword()"
              class="btn btn-outline-secondary">Zresetuj hasło
            </button>
            <button
              type="button"
              (click)="resetForm()"
              class="btn btn-outline-warning">Wyczyść
            </button>
            </div>


            <div class="form-group">
              <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger" role="alert">
                Login failed: {{ errorMessage }}
              </div>
            </div>
          </form>

          <div class="alert alert-success" *ngIf="accountCache$|async as account">
            Logged in as {{ account.username }}.
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
