<div class="container">
  <div class="row justify-content-center">
    <div class="container" *ngIf="(accountCache$|async) as account ; else loggedOut">
      <header class="jumbotron">
        <h3>
          Profil użytkownika: <strong> {{ account.username }}</strong>
        </h3>
      </header>
      <p>
        <strong>Email:</strong>
        {{ account.email }}
      </p>

      <strong>Roles:</strong>
      <ul>
        <li *ngFor="let role of account.roles">
          {{ role }}
        </li>
      </ul>
    </div>
  </div>


  <ng-template #loggedOut>
    <h2>Musisz się zalogować.</h2>
  </ng-template>

</div>
