<div class="container">
  <header class="jumbotron" style="background-color: lightskyblue">
    <p>Kontent dla: </p>
    <p>{{ content }}</p>
  </header>
</div>
<div class="container">
  <header class="jumbotron" style="background-color: lightskyblue">
    <div class="row h-50 align-items-center">
      <div class="col-lg-15">
        <h1 class="display-4 text-white-100 mt-5 mb-1">Cześć</h1>
        <p class="lead mb-3 text-white-100">Tu powinien być tekst o stronce, będzie
          jak zaimplementuje translacje :) </p>
      </div>
    </div>
  </header>
</div>
<div class="container h-50" style="background-color: lightskyblue">
</div>


<!-- Page Content -->
<div class="container">
  <header class="jumbotron" style="background-color: lightskyblue">

  <div class="row">
    <div class="col-md-8 mb-3">
      <h2>TEST 1</h2>
      <hr>
      <p> TU POWINIEN BYĆ TEKST 1 - kiedyś się pojawi</p>
      <p>TU POWINIEN BYĆ TEKST 2 - kiedyś się pojawi</p>
    </div>
    <div class="col-md-4 mb-3">
      <h2>TEST 2</h2>
      <hr>
      <address>
        <strong>Konrad Czanosky</strong>
      </address>
      <address> TU POWINIEN BYĆ KONTAKT Z ADRESEM - BEDZIE KIEDYŚ

      </address>
    </div>
  </div>
  </header>
</div>

