<!--<div class="footer bg-primary">-->
<!--  <h5 class="text-center mt-2">{{title}} <span class="navbar-version">{{version}}</span></h5>-->
<!--</div>-->
<footer class="footer_area section_padding_130_0">
  <div class="container">
    <div class="row">
      <!-- Single Widget-->
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="single-footer-widget section_padding_0_130">
          <!-- Footer Logo-->
          <div class="footer-logo mb-3"></div>
          <p>Footer by Kondzio Chrzanek</p>
          <!-- Copywrite Text-->
        </div>
      </div>
      <!-- Single Widget-->
      <div class="col-12 col-sm-6 col-lg">
        <div class="single-footer-widget section_padding_0_130">
          <!-- Widget Title-->
          <h5 class="widget-title">About</h5>
          <!-- Footer Menu-->
          <div class="footer_menu">
            <ul>
              <li><a href="#">About Us(In progress)</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Single Widget-->
      <div class="col-12 col-sm-6 col-lg">
        <div class="single-footer-widget section_padding_0_130">
          <!-- Widget Title-->
          <h5 class="widget-title">Support</h5>
          <!-- Footer Menu-->
          <div class="footer_menu">
            <ul>
              <li><a href="#">Privacy Policy(In progress)</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Single Widget-->
      <div class="col-12 col-sm-6 col-lg">
        <div class="single-footer-widget section_padding_0_130">
          <!-- Widget Title-->
          <h5 class="widget-title">Contact</h5>
          <!-- Footer Menu-->
          <div class="footer_menu">
            <ul>
              <li><a href="#">Email Us(In progress)</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
